<a href="https://colab.research.google.com/github/MarkVoitov/Yandex.Music-research/blob/master/Copy_of_MusicFM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Как работает Google Colab

#Установка библиотек ура

In [1]:
#Устанавливаем библиотеку lightfm
pip install lightfm nmslib

Collecting lightfm
  Downloading https://files.pythonhosted.org/packages/e9/8e/5485ac5a8616abe1c673d1e033e2f232b4319ab95424b42499fabff2257f/lightfm-1.15.tar.gz (302kB)
     |████████████████████████████████| 307kB 8.2MB/s
Collecting nmslib
  Downloading https://files.pythonhosted.org/packages/d5/fd/7d7428d29f12be5d1cc6d586d425b795cc9c596ae669593fd4f388602010/nmslib-2.0.6-cp36-cp36m-manylinux2010_x86_64.whl (12.9MB)
     |████████████████████████████████| 13.0MB 13.8MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lightfm) (1.18.4)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from lightfm) (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from lightfm) (2.23.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from nmslib) (5.4.8)
Collecting pybind11>=2.2.3
  Downloading https://files.pythonhosted.org/packages/89/e3/d576f6f02bc75bacbc3d42494e8f1d063c95617d86648dba243c2cb3963e/pybind11-2.5.0-py2.py3-none-any.whl (296kB)
     |████████████████████████████████| 296kB 46.4MB/s
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->lightfm) (2.9)
Building wheels for collected packages: lightfm
  Building wheel for lightfm (setup.py) ... done
  Created wheel for lightfm: filename=lightfm-1.15-cp36-cp36m-linux_x86_64.whl size=709147 sha256=d44845ed91b55f70a766064e55fef78e661fd679f5d2ac4afcdab4c94cbf5c0b
  Stored in directory: /root/.cache/pip/wheels/eb/bb/ac/188385a5da6627956be5d9663928483b36da576149ab5b8f79
Successfully built lightfm
Installing collected packages: lightfm, pybind11, nmslib
Successfully installed lightfm-1.15 nmslib-2.0.6 pybind11-2.5.0

#Скачиваем данные

In [2]:
!wget https://github.com/avlord/MusicFM/raw/master/music.csv

--2020-05-10 11:23:36--  https://github.com/avlord/MusicFM/raw/master/music.csv
Resolving github.com (github.com)... 140.82.118.3
Connecting to github.com (github.com)|140.82.118.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/avlord/MusicFM/master/music.csv [following]
--2020-05-10 11:23:36--  https://raw.githubusercontent.com/avlord/MusicFM/master/music.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10491891 (10M) [text/plain]
Saving to: ‘music.csv’

music.csv           100%[===================>]  10.00M  59.1MB/s    in 0.2s

2020-05-10 11:23:37 (59.1 MB/s) - ‘music.csv’ saved [10491891/10491891]

#Импортируем модули из библиотеки

In [0]:
from lightfm import LightFM
import nmslib
import pandas as pd
from scipy.sparse import coo_matrix

# Вспомогательные функции

In [0]:
# #Это вспомогательная функция, которая преобразует данные к удобному виду
def update_data(music):
  ratings_coo = coo_matrix((music['rating'],(music['id'],music['artist_id'])))
  return ratings_coo

In [0]:
# Функция для работы с поиском
def init_nms (item_embeddings):
  # initialize a new nmslib index, using a HNSW index on Cosine Similarity
  nms_idx = nmslib.init(method='hnsw', space='cosinesimil')
  nms_idx.addDataPointBatch(item_embeddings)
  nms_idx.createIndex(print_progress=True)
  return nms_idx

# Загружаем данные

А что у нас за данные?

In [0]:
music =  pd.read_csv('music.csv')
ratings_sparse = update_data(music)

#Чтобы вывести данные, нужно ввести имя таблицы и запустить ячейку кликнув на значок play

In [13]:
# Вывести таблицу music путем ввода её названия music
# Ваш код тут:
music

                                          users  ... rating
0      00000c289a1829a808ac09c00daf10bc3c4e223b  ...      1
1      00000c289a1829a808ac09c00daf10bc3c4e223b  ...      1
2      00000c289a1829a808ac09c00daf10bc3c4e223b  ...      1
3      00000c289a1829a808ac09c00daf10bc3c4e223b  ...      1
4      00000c289a1829a808ac09c00daf10bc3c4e223b  ...      1
...                                         ...  ...    ...
99995  0169cfa637a59ab654efdbe5fce27c14edf6be5a  ...      1
99996  0169cfa637a59ab654efdbe5fce27c14edf6be5a  ...      1
99997  0169cfa637a59ab654efdbe5fce27c14edf6be5a  ...      1
99998  0169cfa637a59ab654efdbe5fce27c14edf6be5a  ...      1
99999  0169cfa637a59ab654efdbe5fce27c14edf6be5a  ...      1

[100000 rows x 7 columns]

## **Напишем код, чтобы вывести 5 первых записей**

Табличные функции в Pandas / Python
Можно вызывать через точку со скобочками"." -> music.название_функции();
Обращение к столбцам

In [16]:
# Чтобы вывести первые элементы, нужно воспользоваться функцией head 
# Ваш код тут:
music.head(3)

                                      users  ... rating
0  00000c289a1829a808ac09c00daf10bc3c4e223b  ...      1
1  00000c289a1829a808ac09c00daf10bc3c4e223b  ...      1
2  00000c289a1829a808ac09c00daf10bc3c4e223b  ...      1

[3 rows x 7 columns]

## Напишите код, чтобы вывести оценки

In [19]:
# Количество прослушиваний - play_times, чтобы посмотреть максимально и минимальное число прослушиваний, воспользуемся .max(), .min()
# Ваш код тут:
music.play_times.min()

1

# Смотрим музыку

In [26]:
#Тут ничего писать не надо, 
#давайте посмотрим код!
#@title Выберем исполнителя
artist_name = "astral projection" #@param {type:"string"}
music[music['artist_name'].str.find(artist_name)>=0]

                                          users  ... rating
4854   00108be8919f5f8e1249af2207579f9861c1e1d6  ...      1
20009  0047f55f1afb53fe486b76cc67957bdef7da9de3  ...      1
24219  005866ea52fa3ec8b92f30a547eaf7614daf4246  ...      1
28413  0067befb4bbb070a89c25b29c61a81b507c89cb8  ...      1
46759  00af782068a9f5f144356c6d94c41121ad64558f  ...      1
50186  00b853397a79019699fba7ceb1dbb8e47ec94a67  ...      1
55536  00c9a104d247d4ad4791e466e27007bfd75d5fc4  ...      1
59092  00d591fd9392d8afe3687ddc547892b9dec91981  ...      1
60787  00dc0df886765126c2c5f1441b908f16221a0c36  ...      1
69947  00fca38f722b35c3ea7d4f6ceb7573e7c792d22a  ...      1
71969  0105b87b15f984dfc27bda213e37b4a8f1bd95ed  ...      1
78392  011d7e96f16ccab26b9ce0aae83cd59e0518dee8  ...      1
85808  013689535f8b39018beefaeaa9ceb2dce0251b91  ...      1
87458  013c3ac26921ac5b59061fe08c58108617ab4829  ...      1
94794  015788cdfa2224ecec3cb685a2d62bb914c89b48  ...      0

[15 rows x 7 columns]

# Время магии! Давайте создадим модель

In [0]:
#Создадим модель LightFM с аргументами (loss=LOSS, no_components=NO_COMPONENTS)
LOSS = "warp" # Алгоритм обучения 
NO_COMPONENTS = 30 # Размер пространства, Введите ваш код тут
model = LightFM(loss=LOSS, no_components=NO_COMPONENTS) # Создаём модель тут, введите ваш код тут model(...)

# Обучим модель

In [27]:
# Обучаем модель, нужно вызвать функцию .fit у нашей модели model с аргументами (data,epochs)
# Наши данные - это рейтинги пользователей ratings_sparse
data = ratings_sparse #ваш код тут

# обучаем модель, введите ваш код тут model.fit(...)
model.fit(data) #ваш код тут

# Используем модель

In [0]:
#Тут мы получаем новое представление наших данных
_, item_embeddings = model.get_item_representations()
#Построим поиск
nms_idx = init_nms(item_embeddings)

In [29]:
item_embeddings

array([[-0.09601262, -0.08087606,  0.17442212, ...,  0.13334578,
         0.01931658,  0.03088819],
       [ 0.0272222 , -0.28315884,  0.24868073, ..., -0.12117117,
        -0.04359172,  0.24900919],
       [-0.08289543, -0.00682666, -0.03213279, ..., -0.0738355 ,
         0.05007945,  0.0093785 ],
       ...,
       [-0.00217165, -0.06535011, -0.07149906, ..., -0.10184061,
        -0.08815156, -0.15935628],
       [ 0.00585659, -0.05409172,  0.00912454, ...,  0.06628176,
        -0.02867902, -0.01459018],
       [ 0.0370678 ,  0.12073733, -0.07504865, ..., -0.06943889,
         0.00115133, -0.01650415]], dtype=float32)

# Вспомогательная функция

In [0]:
#Вспомогательная функция для поиска ближайших композиторов
def nearest_artist_nms(artist_id, index, n=10):
    #Возвращает ближайших композиторов
    nn = index.knnQuery(item_embeddings[artist_id], k=n)
    return nn

# Выбираем исполнителя для рекомендации

In [41]:
#@title Выберем исполнителя
music_name = "infected mushroom" #@param {type:"string"}
#ID = 7356 #@param {type:"number"}
ID = music[music['artist_name'].str.find(music_name)>=0].iloc[0].artist_id
music[music['artist_name'].str.find(music_name)>=0]

                                          users  ... rating
491    0001399387da41d557219578fb08b12afa25ab67  ...      1
1931   000701c3c006b091990162635b36b008c504c6a7  ...      1
4849   00108be8919f5f8e1249af2207579f9861c1e1d6  ...      1
6206   0014af6184dc17e4426168a35c536d7e1d030fc3  ...      1
8986   00210ed8d97f55b19271c1a3f0fa004be255222a  ...      1
...                                         ...  ...    ...
92104  014d12e642d3adb0472d6d5364450b2e7d0ebace  ...      1
92737  014fde8ec5d4eb7f7a42b9aff0e866173c3415e1  ...      1
95695  015a0c0534709c4b5e663081e7414d33244b7e19  ...      1
96736  015cd6c13cb312a8a68c3202a1f9d9c06fc38e38  ...      1
99320  01667abcebb8f51f35eec2594415be5651fd5def  ...      1

[64 rows x 7 columns]

# Получим рекомендации

In [0]:
# Получаем рекомендации
rec = nearest_artist_nms(ID,nms_idx)[0]

# Выведем наши рекомендации

In [43]:
# воспользуемся таблицей music и функцией .loc с аргументами [rec], тут нужно использовать
# квадратные скобки
# Ваш код тут
music.loc[rec]

                                          users  ... rating
457    0001399387da41d557219578fb08b12afa25ab67  ...      1
758    00024b5b85c40f990c28644d53257819980bf6bb  ...      1
3004   000a4fba9046379163980531da4e211bb2d20f3a  ...      1
265    0000c176103e538d5c9828e695fed4f7ae42dd01  ...      1
10846  0027bdefcde28fe58e126906c08c58d843b77c69  ...      0
10077  00248667343aef7179c66db4d3d4de737403c572  ...      1
7750   001a3fe32ff4928b7b5b4fa5b7711b8ff9d86786  ...      0
8564   001f9738eee17f844fb965e139582115c6a1c49d  ...      1
909    00029d80b8af94f2d5e3349ceb28b7304f80c1c4  ...      1
13460  003026511145551b573af4202544ced3d360947a  ...      1

[10 rows x 7 columns]

## Как можно улучшить нашу модель?

In [44]:
#@title Выберем кол-во эпох для обучения
# Обучаем модель, нужно вызвать функцию .fit у нашей модели model с аргументами (data,epochs)
epochs =  20#@param {type:"number"}
model.fit(data,epochs=epochs) # обучаем модель

In [0]:
#Тут мы получаем новое представление наших данных
_, item_embeddings = model.get_item_representations()
#Построим поиск
nms_idx = init_nms(item_embeddings)

In [0]:
# Получаем рекомендации
rec = nearest_artist_nms(ID,nms_idx)[0]

In [47]:
music.loc[rec]

                                          users  ... rating
457    0001399387da41d557219578fb08b12afa25ab67  ...      1
10102  0024cd03616cfa4593466644dea6eca741f17b59  ...      1
265    0000c176103e538d5c9828e695fed4f7ae42dd01  ...      1
19967  0047f55f1afb53fe486b76cc67957bdef7da9de3  ...      1
193    000063d3fe1cf2ba248b9e3c3f0334845a27a6bf  ...      0
3009   000a4fba9046379163980531da4e211bb2d20f3a  ...      1
421    0000f687d4fe9c1ed49620fbc5ed5b0d7798ea20  ...      0
909    00029d80b8af94f2d5e3349ceb28b7304f80c1c4  ...      1
5714   0012ca63201c1d170b31b8728394931612c8f50f  ...      1
4893   00108be8919f5f8e1249af2207579f9861c1e1d6  ...      1

[10 rows x 7 columns]

# А что если изменить размерность нашего пространства с 30 до 1

In [48]:
NO_COMPONENTS =   1#@param {type:"number"}
model = LightFM(loss=LOSS, no_components = NO_COMPONENTS) # Создаём модель тут, введите ваш код тут
epochs =  20#@param {type:"number"}
model.fit(data,epochs=epochs) # обучаем модель, введите ваш код тут

In [0]:
#Тут мы получаем новое представление наших данных
_, item_embeddings = model.get_item_representations()
#Построим поиск
nms_idx = init_nms(item_embeddings)

In [0]:
# Получаем рекомендации
rec = nearest_artist_nms(ID,nms_idx)[0]

In [51]:
nearest_artist_nms(ID,nms_idx)[1]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32)

Что можно сделать?

1.   Изменить параметры размерности!
2.   Изменить критерий оценки

In [0]:
from lightfm.cross_validation import random_train_test_split
from lightfm.evaluation import auc_score, precision_at_k, recall_at_k

In [0]:
train,test = random_train_test_split(ratings_sparse, test_percentage=0.2, random_state=None)

In [54]:
prec_score = precision_at_k(model,
                      test,
                      num_threads=2,k=10).mean()

recall_at_k = recall_at_k(model,
                      test,
                      num_threads=2,k=10).mean()
print(recall_at_k,prec_score)

0.03974141867014953 0.039074805